<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>301955745166-qlgu1mlfknvba927jib91me4n0bk5d3p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.301955745166-qlgu1mlfknvba927jib91me4n0bk5d3p</string>
	<key>API_KEY</key>
	<string>AIzaSyA8FeMMCVJUGFG5SY30N3vDv4QC1h4L3JQ</string>
	<key>GCM_SENDER_ID</key>
	<string>301955745166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.katanaware.teikokuFirebaseAuth</string>
	<key>PROJECT_ID</key>
	<string>teikoku-firebase-auth</string>
	<key>STORAGE_BUCKET</key>
	<string>teikoku-firebase-auth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:301955745166:ios:1881b7885f71aea7d890df</string>
</dict>
</plist>